:host {
    all: initial;
    font-family: inherit;
}

.sites {
    height: 30rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.sites h1 {
    padding: 2rem;
    width: fit-content;
    box-shadow: 1px 1px 0 0 grey;
    background-color: #aaabb8;
}

.sites table {
    width: 80%;
    color: white;
}

.sites table tr td,th {
    background-color: #464866;
}

.sites table tr th:nth-child(2) {
    width: 10rem;
}


.sites table tr td a {
    display: flex;
    justify-content: center;
}

.sites table tr td a img {
    margin: 1rem;
    height: 5rem;
    max-width: 10rem;
}